{% extends 'base.html' %} {% block title %} Register Page {% endblock %} {%
block content %}
<body>
  <div class="container text-center w-25">
    <form method="POST" class="form-register">
      {{ form.hidden_tag() }}
      <br />
      <h1 class="h3 mb-3 font-weight-normal">Create Your Account</h1>

      {{ form.username.label() }} {{ form.username(class="form-control mb-2",
      placeholder="Username") }} {{ form.email_address.label() }} {{
      form.email_address(class="form-control mb-2", placeholder="Email Address")
      }} {{ form.password1.label() }} {{ form.password1(class="form-control
      mb-2", placeholder="Password") }} {{ form.password2.label() }} {{
      form.password2(class="form-control mb-2", placeholder="Confirm Password")
      }}

      <div class="checkbox mb-3">
        <h6>Already have an account?</h6>
        <a
          href="{{ url_for('users.login_page') }}"
          class="btn btn-sm btn-secondary"
          >Log In</a
        >
      </div>
      <div class="d-grid gap-2">
        {{ form.submit(class="btn btn-lg btn-primary") }}
      </div>
    </form>
  </div>
</body>
{% endblock %}
