{% extends 'base.html' %} 
{% block title %}
  Posts by {{ user.username }}
{% endblock %} 

{% block content %}
<div class="container w-50">
  <br>
  <h1 class="text-center">Posts by {{ user.username }}</h1>
  <p class="text-center">Total posts: ({{ posts.total }})</p>
  <hr class="my-4">
  <br>
  {% for post in posts.items %}
  <div class="media m-4 p-3 border rounded">
    <div class="media-body m-2">
      <a class="link-info text-decoration-none" href="{{ url_for('users.user_posts', username=post.author.username) }}">
        <img class="mx-4 rounded-circle float-start",
        src="{{ url_for('static', filename='/profile_pics/' + post.author.image_file) }}",
        alt="Generic placeholder image",
        style="width:64px;height:64px">
        {{ post.author.username }}
      </a>
       <br>
       <small>{{ post.time_created.strftime("%Y-%m-%d %H:%M") }}</small>
       <hr class="mt-4">
      <h3 class="mt-0"><a class="text-light text-decoration-none" href="{{ url_for('posts.post_page', post_id=post.id) }}">{{ post.title }} </a></h3>
      {{ post.content }}
    </div>
   </div>
   {% endfor %}
   <div class="text-center">
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if posts.page == page_num %}
      <a href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}" class="btn btn-info mb-4">{{ page_num }}</a>
    {% else %}
      <a href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
    {% endif %}
  {% else %}
   ...
  {% endif %}
  {% endfor %}
</div>
</div>
{% endblock %}