{% extends 'base.html' %} 
{% block title %}
  Forum
{% endblock %} 

{% block content %}
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">to our forum</p>
    <hr class="my-4">
    <!-- <p>Sign up to get 1000$ for <strong>FREE</strong>.</p> -->
    <p class="lead">
      <!-- <a class="btn btn-primary btn-lg" href="{{ url_for('market_page') }}" role="button">Get Started</a> -->
    </p>
    <!-- <img src="{{ url_for('static', filename='marketplace.jpg') }}
    " class="img-thumbnail m-3" alt="Marketplace" width="350px"> -->
  </div>
  {% for post in posts %}
  <div class="media w-50" >
    <img class="mr-3 rounded-circle" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">lala</h5>
      {{ post.content }}
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}