{% extends 'base.html' %} 
{% block title %}
  Forum
{% endblock %} 

{% block content %}
<div class="container w-50">
  <div class="jumbotron text-center">
    <h1 class="display-4">Forum</h1>
    <p class="lead">Let's talk about technology!</p>
    <hr class="my-4">
    <!-- <p>Sign up to get 1000$ for <strong>FREE</strong>.</p> -->
    <p class="lead">
      <!-- <a class="btn btn-primary btn-lg" href="{{ url_for('market_page') }}" role="button">Get Started</a> -->
    </p>
    <!-- <img src="{{ url_for('static', filename='marketplace.jpg') }}
    " class="img-thumbnail m-3" alt="Marketplace" width="350px"> -->
  </div>
  {% for post in posts.items %}
  <div class="media m-4 p-3 border rounded">
    <img class="mx-4 rounded-circle float-start",
     src="{{ url_for('static', filename='/profile_pics/' + post.author.image_file) }}",
     alt="Generic placeholder image",
     style="width:64px;height:64px">
     
     <div class="media-body m-2">
       <b>{{ post.author.username }}</b>
       <br>
       <small>{{ post.time_created.strftime("%Y-%m-%d %H:%M") }}</small>
       <hr class="mt-4">
      <h3 class="mt-0"><a class="text-light text-decoration-none" href="{{ url_for('post_page', post_id=post.id) }}">{{ post.title }} </a></h3>
      {{ post.content }}
    </div>
   </div>
   {% endfor %}
   <div class="text-center">
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if posts.page == page_num %}
      <a href="{{ url_for('forum_page', page=page_num) }}" class="btn btn-info mb-4">{{ page_num }}</a>
      {% else %}
      <a href="{{ url_for('forum_page', page=page_num) }}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
      {% endif %}
  {% else %}
   ...
  {% endif %}
  {% endfor %}
</div>
</div>
{% endblock %}