{% extends 'base.html' %} 
{% block title %}
  Home Page
{% endblock %} 

{% block content %}

<div class="jumbotron text-center mt-5">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">On this marketplace you can buy or sell smartphones.</p>
  <hr class="my-4">
  <p>Sign up to get 1000$ for <strong>FREE</strong>.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ url_for('market_page') }}" role="button">Get Started</a>
  </p>
  <img src="{{ url_for('static', filename='marketplace.jpg') }}
  " class="img-thumbnail m-3" alt="Marketplace" width="350px">
</div>
{% endblock %}