{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body>
  <div class="container text-center w-25">
    <form method="POST" class="form-signin">
      {{ form.hidden_tag() }}
      <br>
      <h1 class="h3 mb-3 font-weight-normal">
        Please Log In
      </h1>
      {{ form.username.label() }}
      {{ form.username(class="form-control", placeholder="Username") }}

      {{ form.password.label() }}
      {{ form.password(class="form-control", placeholder="Password") }}
      <br>
      <div class="checkbox mb-3">
        <a href="{{ url_for('register_page') }}" class="link-light">Do not have an account?</a>
      </div>
      <div class="checkbox mb-3">
        <h6></h6>
        <a href="{{ url_for('reset_request') }}" class="link-light">Forgot password?</a>
      </div>
      <div class="d-grid gap-2">
        {{ form.submit(class="btn btn-lg btn-primary") }}
      </div>
    </form>
  </div>
</body>
{% endblock %}